body 
{
   border: 1px solid red;
   margin: 0 auto;
   width: 1024px;
}
footer{
background: blue;
color: white;
margin-top: 10px;
text-align: center;
}

header
{
	border: 1px solid blue;
	text-align: center;
}
header img{
	float: right;
	margin-right: 15px;
	margin-top: -60px;
	width: 90px;

}
header nav{
	margin-top: 60px;
}

/*
box shadow caja con sombra que se pone atras de otra caja
parametro 1:sombra hacia derecha, 2:sombra hacia abajo y 3:color.

rgba(0,0,0,0.4) color gris
*/
header nav ul li
{
	background: blue;
    border-radius: 5px;

	box-shadow: -3px -3px rgba(0,0,0,0.4);
	color: white;
    display: inline-block;
    margin: 0px 10px 0px 0px;
    padding: 5px 8px 5px 8px;
    width: 80px;
}
/*hover cuando se pasa el mouse en li se activa un efecto*/
header nav ul li:hover{
	background: orange;
	color: red;

}
/*
display: inline-block alinea elementos horizontalmente;
vertical-align: top alinea los elementos hacia arriba; 
*/
section article{
	border: 1px solid tomato;
	display: inline-block;
	vertical-align: top;
	width: 32%;

}


