Nota: todo en orden alfabetico
pseudoelementos @
selectores
	etiquetas ejem. p,html,div
	identificador ejem. #id
	clases ejem. .class 
media queries - diseño adaptativo	

body{
	background: blue;
	/*#1A45AB;*/
	/*rgba(34,56,2,1);*/
	/*rgb(101,101,101);*/
	color: white;
	with: 1024px;

}
